/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  color: #0066cc;
}

a {
  color: #cc0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-header,
.site-footer {
  padding: 16px;
  background-color: #f2f2f2;
  /* border: 2px solid #0066cc;
  margin: 30px; */
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 36px;
}
